.btn {
    padding: 10px;
    background-color: white;
    border: 1px solid green;
    color: green;
    border-radius: 5px;
    font-size: 14px;

    &.primary{
        background: $primary;
        color: $secundary;
        border-color: $secundary;
    }
}
